:root {
  --background-main: #f4f6f8;
  --background-secondary: #ffffff;

  --typograghy-main: #19202d;
  --typograghy-secondary: #6e8098;

  --special-main: #ffec65;
  --button-color: #3c47e9;
  --input-color: #3c47e9;

  --icon-fill: #48484a;
  --rain-fill: #48484a;
}

[data-theme='dark'] {
  --background-main: #100e1d;
  --background-secondary: #1e213a;

  --typograghy-main: #e7e7eb;
  --typograghy-secondary: #a09fb1;

  --special-main: #ffec65;
  --button-color: #3c47e9;
  --input-color: #ffffff;

  --icon-fill: #ffffff;
  --rain-fill: #b9e6fc;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('./assets/fonts/KumbhSans-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('./assets/fonts/KumbhSans-Medium.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('./assets/fonts/KumbhSans-SemiBold.ttf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('./assets/fonts/KumbhSans-Bold.ttf') format('opentype');
  font-weight: 700;
}

body,
html {
  margin: 0;
  font-size: 16px;
  font-family: 'KumbhSans';
}

html {
  height: -webkit-fill-available;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.MuiTypography-root {
  transition: all 0.2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

@keyframes dotty {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

.rotate {
  transform-box: fill-box;
  transform-origin: center;
  animation: rotation 8s infinite linear;
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 2s infinite;
  content: '';
}
